#hder{
	background-color: #333;
	padding-top: 80px;
	height: 150px;
	margin-bottom: 30px;
}
.hddt{
	font-size: 44px;
    letter-spacing: .64286rem;
    font-family: Oswald,Arial,Helvetica,sans-serif!important;
	display:block;
	color:#fff!important;
}
.hddst{
	font-size: 22px;
    letter-spacing: .64286rem;
    font-family: Oswald,Arial,Helvetica,sans-serif!important;
	display:block;
	color:#444!important;
}
body {
  	background-color: #eee;
	overflow-y: hidden;
}
body > .grid {
  	height: 100%;
}
.column2 {
	overflow-y: auto;
	height: 470px;
	border: 3px solid #333;
   	max-width: 800px;
}
.antitle{
	font-size: 18px;
	font-style: italic;
	color: #555;
}
.antitle:before{
	content: " ' ";
}
.antitle:after {
	content: " ' ";
}
.antitle:hover {
	color: #888;
}
.ancont{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #555;
}
footer{

   position:fixed;
   left:0px;
   bottom:0px;
   height:20px;
   width:100%;
	background-color: #333;
}
footer a, footer a:hover{
	font-size:12px;
	position: relative;
	bottom: -15px;
	color:#fff;
}
.navie{
	font-size: 12px;
	text-transform: uppercase!important;
	color:#fff;
	margin-top: 40px;
}
.navie:hover{
	text-transform: uppercase!important;
	color:#bbb;
}
.field{
	width: 350px!important;
}
.modal{
	margin-left: -205px!important;
	margin-top: -100px!important;
	max-width: 400px!important;
}
::-webkit-scrollbar {
    width: 12px;
}
 

::-webkit-scrollbar-thumb {
	background-color: #333!important
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}