#hder{
	background-color: #333;
	padding-top: 30px;
	height: 50px;

}
#hder2{
	margin-top: -30px;
	margin-left: 700px;
	margin-bottom: 30px;	
}
.hddt{
	margin-left: -900px;
	font-size: 44px;
    letter-spacing: .64286rem;
    font-family: Oswald,Arial,Helvetica,sans-serif!important;
	display:block;
	color:#fff!important;
}
.hddst{
	font-size: 22px;
    letter-spacing: .64286rem;
    font-family: Oswald,Arial,Helvetica,sans-serif!important;
	display:block;
	color:#444!important;
}
body {
  	background-color: #eee;
	overflow-y: hidden;
}
body > .grid {
  	height: 100%;
}
.column2 {
	overflow-y: auto;
	height: 570px;
	border: 3px solid #333;
   	max-width: 800px;
}
.aud{
	position: absolute;
	top: 70px!important;
	margin-left: 398px!important;
}
.aud2{
	top: 120px!important;
}
footer{

   position:fixed;
   left:0px;
   bottom:0px;
   height:20px;
   width:100%;
	background-color: #333;
}
footer a, footer a:hover{
	font-size:12px;
	position: relative;
	bottom: -15px;
	color:#fff;
}

.navie{
	font-size: 14px;
	text-transform: uppercase!important;
	color:#fff;
	margin-top: 5px;
}
.navie:hover{
	text-transform: uppercase!important;
	color:#bbb;
}
.field{
	width: 350px!important;
}
table{
max-width: 100%;
}
td {
	text-overflow:ellipsis;
	overflow:hidden;
	max-width:200px!important;
}
.labelnames{
	margin-left: 470px!important;
}/*
.pricenames{
	margin-left: -600px!important;
}*/
::-webkit-scrollbar {
    width: 12px;
}
 

::-webkit-scrollbar-thumb {
	background-color: #333!important
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}